* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
   

   body{ 
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    width: 100vw;
    background-image: url("https://images.unsplash.com/photo-1477346611705-65d1883cee1e?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY3NTMwMDcyMw&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
         
   
 }

    .caixa-maior {
        background-color: #000000;
        width: 95%;
        max-width: 420px;
        opacity: 0.8;
        padding: 20px;
        border-radius: 25px;

    }

    input {
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 24px;
        color: #ffffff;
        background-color: #7c7c7c2b;
        width: calc(100% - 100px);
        

    }
    
       

    .button10 {
        
        border: none;
        outline: none;
        padding: 10px;
        border-radius: 50px;
        background-color: #7c7c7c2b;
        float: right;
        cursor: pointer;
    }
    
    button:hover {

        background-color: #7c7c7c6b;
    }
    

    .caixa-media {

        margin-top: 20px;
    }

    .caixa-menor {
     display: flex;
     margin-top: 30px;
     align-items: center;   




    }
 


    .lupa {

        height: 20px;


    }
    


    
    
    h2 {
        
        color: #ffffff;
        font-size: 28px;
    }
    
    
    
    .temp {

        margin-top: 30px;
        color: #ffffff
        
    }




    .descricao {
        text-transform: capitalize;
        margin-left: 20px;
        color: #ffffff;
    }



    .umi {
        margin-top: 30px;

        color: #ffffff;
    }

